#project-list{
    list-style: none;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

#project-list li{
    display: flex;
    justify-content: center;

}